.DS_Store
*.swp
**/.emacs.d
**/__pycache__/
bin/aliasPath
bin/fansi
bin/anime
bin/ipfs
bin/elfedit
bin/readelf
bin/mac_prefs
sources/cd_alias_folders
config/zmk-config/
config/.profile
config/zsh/.zshrc
config/zsh/.zshenv
config/bash/.bashrc
config/bash/.bash_logout
config/bash/.bash_profile
config/dev-configs/cp5/.vscode/launch.json
